@charset "UTF-8";

.container{
	margin: 50px 0px 0px 50px;
	width: 1500px;
}

#th{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: orange;
	letter-spacing: 3px;
}

.glyphicon-trash{
	
   color: red;	
}

.glyphicon-book{
	color: 	#AFEEEE;
}

.panel-body p{
	text-align: center;
}